/*=============== GOOGLE FONTS - Insert link for typography ===============*/
@import url("https://fonts.googleapis.com/css2?family=Cormorant+Infant:ital,wght@0,300..700;1,300..700&display=swap");

/*=============== VARIABLES CSS ===============*/
:root {
	--header-height: 3.5rem;

	/*========== Colors ==========*/
	/*Color mode HSL(hue, saturation, lightness)*/
	--first-color: hsl(29, 90%, 58%);
	--white-color: hsl(0, 0%, 100%);
	--black-color: hsl(0, 0%, 0%);

	/*========== Font and typography ==========*/
	/*.5rem = 8px | 1rem = 16px ...*/
	--body-font: "Cormorant Infant", serif;
	--biggest-font-size: 4rem;
	--big-font-size: 2rem;
	--h2-font-size: 1.25rem;
	--normal-font-size: .938rem;
}

/*========== Responsive typography ==========*/
@media (width >= 1150px) {
	:root {
		--biggest-font-size: 7.5rem;
		--big-font-size: 3rem;
		--h2-font-size: 1.5rem;
		--normal-font-size: 1rem;
	}
}

/*=============== BASE ===============*/
* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

body {
	font-family: var(--body-font);
	font-size: var(--normal-font-size);
	font-weight: 600;
	background-color: var(--black-color);
	color: var(--white-color);
}

button {
	background: none;
	border: none;
	outline: none;
}

ul {
	list-style: none;
}

a {
	text-decoration: none;
}

img {
	display: block;
	max-width: 100%;
	height: auto;
}

/*=============== REUSABLE CSS CLASSES ===============*/
.container {
	max-width: 1120px;
	margin-inline: 1rem;
}

.main {
	overflow: hidden;
}

/*=============== HEADER & NAV ===============*/


/* Navigation for mobile devices */


/* Show menu */


/*=============== HOME ===============*/


/* Swiper class */


/*=============== BREAKPOINTS ===============*/
/* For medium devices <> */


/* For large devices <> */


/* For 2K resolutions <> */
